@media (max-width: 992px){
  .homeDefault{
    background-image: url('volunteers.jpg');
  }
}

@media (min-width: 992px){
  .homeDefault{
    background-image: url('volunteers_wide.png');
  }
}

@font-face{
  font-family: "Coves";
  src: url("Coves Light.otf");
}

@font-face{
  font-family: "CovesBold";
  src: url("Coves Bold.otf");
}

:root {
  --SweatyMainColor: rgb(55, 55, 161);
  --SweatyContrastColor: white;
  --SweatyFontBold: "CovesBold";
  --SweatyFont: "Coves";
}

.pageTitle{
  z-index: 10;
  color: var(--SweatyContrastColor);
  padding: 20px 0px 20px 0px;
  text-align: center;
  font-family: var(--SweatyFontBold);
  letter-spacing: 2px;
  font-size: clamp(28px,4vw,34px);
  background-color: var(--SweatyMainColor);
  box-shadow: 0px 12px 8px 0px rgba(0, 0, 0, 0.226);
}

.primaryContentArea{
display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
}

.homeDefault{
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
width:100%;
display:flex;
justify-content: center;
  align-items: center;
}

.homeMoreInfo{
  position: absolute;
  height: 100%;
  width:100%;
  background-color: white;
}

.homeMoreInfoDiv1{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.homeMoreInfoDiv2{
background-color: var(--SweatyMainColor);
color: var(--SweatyContrastColor);
height:85%;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
display: grid;
justify-content: center;
align-items: center;
text-align: center;
max-width: 500px;
margin:auto;
overflow: auto;
}

.homeMoreInfoDiv2Img{
  padding-top: 10px;
height: 12vh;
}

.paymentScreen1{
  position: absolute;
  height: 100%;
  width:100%;  
}

.clientScreen1{

  position: absolute;
  height: 100%;
  width:100%;  
}

.paymentPageDiv1{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientPageDiv1{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientButtonTitles{
  font-size:clamp(18px,4vw,22px);
  padding: 25px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.paymentPageDiv2{
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.226);
background-color: var(--SweatyMainColor);
color: var(--SweatyContrastColor);
height: 85%;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
display: grid;
justify-content: center;
align-items: center;
text-align: center;
max-width: 500px;
margin:auto;
overflow: auto;
}

.clientButton{
border-color: var(--SweatyContrastColor);
border-width: 1px;
border-style:solid;
margin-top: 25px;
width:300px;
}

.clientPageDiv2{
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.226);
  background-color: var(--SweatyMainColor);
  color: var(--SweatyContrastColor);
  height: 85%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin:auto;
  overflow: auto;
  }

.paymentAmountDiv1{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentAmountDiv2{
  background-color: var(--SweatyMainColor);
  color: var(--SweatyContrastColor);
  height:85%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin:auto;
  overflow: auto;
}

.paymentButton{
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.quickPaymentButton{
  background-color: rgb(41, 71, 128);
  border-color: white;
  border-width: 2px;
  margin-right: 10px;
  width:60px;
  height:60px;
  padding: 10px 0px 10px 0px;
  border-radius: 500px;
}

.quickPaymentButton:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(255, 174, 0);
}

.QRArea{
height:250px;
background-color: rgb(54, 54, 54);
display: grid;
justify-content: center;
align-items: center;
margin: 0px 10px 0px 10px;
}

.manualEntry{
  box-shadow: none;
font-size: 11px;
margin:12px 0px 12px 0px;
padding: 0px 0px 0px 0px;
border:none;
text-decoration: underline;
height:12px;
}
.manualEntry:focus {
  outline: none;
  box-shadow: none;
}

input{
  height:30px;
  width: 200px;
  font-family: var(--SweatyFontBold);
  text-align: center;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
}

.capitalize{
  text-transform: uppercase;
}
.collectionScreen1{
  position: absolute;
  height: 100%;
  width:100%;
  background-color: white;
  display: grid;
justify-content: center;
align-items: center;
font-size: 20px;
text-align: center;
}


a{
  color:var(--SweatyContrastColor);
}

button{
  box-shadow: 0px 12px 8px 0px rgba(0, 0, 0, 0.226);
background-color: var(--SweatyMainColor);
color: var(--SweatyContrastColor);
font-family: var(--SweatyFontBold);
font-size: clamp(18px,4vw,22px);
border-radius:10px;
border-width: 0px;
padding: 15px 20px 15px 20px;
letter-spacing: 1px;
}

p{
  padding: 0px 30px 0px 30px;
  line-height: 140%;
  letter-spacing: 1px;
  max-width: 400px;
}

.backButton{
  position: absolute;
  visibility: hidden;
  background-color: var(--SweatyMainColor);
  height:41px;
  padding:0px 10px 5px 10px;
  left: 30px;
  font-size: 40px;
}

/* QR Section*/

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
  padding: 15px;
}

#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}

/* QR Section*/